[defaults]
nocows = 0
roles_path = ./roles
inventory = ./inventory/my-cluster/hosts.ini
library  = ./library
default_vault_password_file = ./secrets/.key
default_vault_identity_list = main

#remote_tmp = $HOME/.ansible/tmp
#local_tmp = $HOME/.ansible/tmp
pipelining = true
become = true
host_key_checking = false
deprecation_warnings = false
callback_whitelist = profile_tasks
