[defaults]
nocows = True
roles_path = ./roles
inventory  = ./inventory/my-cluster/hosts.ini
ANSIBLE_VAULT_PASSWORD_FILE = ./secrets/.key
DEFAULT_VAULT_IDENTITY_LIST = main

#remote_tmp = $HOME/.ansible/tmp
#local_tmp  = $HOME/.ansible/tmp
pipelining = True
become = True
host_key_checking = False
deprecation_warnings = False
callback_whitelist = profile_tasks
